In [60]:
 # Dependencies
import requests
import urllib
import pandas as pd
import xml.etree.ElementTree as ET
from config import zws_id

In [18]:
# function to generate random lat & lng within a certain radius 
# modified from here: http://hadoopguru.blogspot.com/2014/12/python-generate-random-latitude-and.html
# changed to take in a dataframe for more iterative code

def generate_latlng(latitude, longitude, df):
    
    radius = 10000                         #Choose your own radius
    radiusInDegrees=radius/111300            
    r = radiusInDegrees

    counter = 0
    
    for i in range(1,100):                 #Choose number of Lat Long to be generated

        u = float(random.uniform(0.0,1.0))
        v = float(random.uniform(0.0,1.0))

        w = r * math.sqrt(u)
        t = 2 * math.pi * v
        x = w * math.cos(t) 
        y = w * math.sin(t)

        xLat  = x + latitude
        yLong = y + longitude

        #print(str(xLat) + "," + str(yLong) + '\n')

        df.set_value(counter, "latitude", xLat)
        df.set_value(counter, "longitude", yLong)

        # Add to counter
        counter = counter + 1
    
    return df

'''df = pd.DataFrame({"latitude":'',
                   "longitude":'',
                   "address":'',
                   "city_state_zip":''}, index=[0])

generate_latlng(40.84, -73.87, df)'''

   address city_state_zip latitude longitude
0                          40.7945  -73.8991
1      NaN            NaN  40.8425  -73.8137
2      NaN            NaN  40.8272  -73.8893
3      NaN            NaN  40.8915  -73.8313
4      NaN            NaN  40.8161  -73.8414
5      NaN            NaN  40.8728  -73.8544
6      NaN            NaN  40.7988  -73.9452
7      NaN            NaN  40.8899  -73.8098
8      NaN            NaN  40.9199  -73.8929
9      NaN            NaN  40.9015  -73.8675
10     NaN            NaN  40.8286  -73.8323
11     NaN            NaN  40.8207   -73.898
12     NaN            NaN  40.8805  -73.8031
13     NaN            NaN  40.8134  -73.9104
14     NaN            NaN  40.8703  -73.9215
15     NaN            NaN  40.9282  -73.8709
16     NaN            NaN  40.8812  -73.8469
17     NaN            NaN  40.8428  -73.8021
18     NaN            NaN  40.7796  -73.9309
19     NaN            NaN  40.8508  -73.8874
20     NaN            NaN   40.835  -73.8078
21     NaN            NaN  40.7668  -73.9061
22     NaN            NaN   40.795  -73.9053
23     NaN            NaN  40.8982  -73.8451
24     NaN            NaN  40.8268  -73.9153
25     NaN            NaN  40.8197  -73.8589
26     NaN            NaN  40.7668  -73.8487
27     NaN            NaN  40.8991  -73.9042
28     NaN            NaN  40.8217  -73.8095
29     NaN            NaN  40.9028  -73.9255
..     ...            ...      ...       ...
69     NaN            NaN  40.8723  -73.8498
70     NaN            NaN  40.8235  -73.9567
71     NaN            NaN  40.7864  -73.9272
72     NaN            NaN  40.8709  -73.8669
73     NaN            NaN  40.8496  -73.8455
74     NaN            NaN  40.8564  -73.9402
75     NaN            NaN  40.8978  -73.8102
76     NaN            NaN  40.8328  -73.8095
77     NaN            NaN  40.7988  -73.8935
78     NaN            NaN  40.8321  -73.7805
79     NaN            NaN  40.8686  -73.9223
80     NaN            NaN  40.8405  -73.8958
81     NaN            NaN  40.8227   -73.833
82     NaN            NaN  40.9061  -73.8168
83     NaN            NaN  40.8366  -73.8909
84     NaN            NaN  40.8684  -73.8177
85     NaN            NaN  40.8807   -73.924
86     NaN            NaN  40.9024  -73.9227
87     NaN            NaN  40.8179  -73.9559
88     NaN            NaN  40.8778  -73.8822
89     NaN            NaN  40.7525  -73.8755
90     NaN            NaN  40.9075  -73.8739
91     NaN            NaN  40.7995  -73.8338
92     NaN            NaN  40.7626  -73.8909
93     NaN            NaN  40.9272  -73.8527
94     NaN            NaN  40.8712  -73.9474
95     NaN            NaN  40.8317  -73.8259
96     NaN            NaN  40.8953  -73.8368
97     NaN            NaN  40.9171  -73.9069
98     NaN            NaN  40.8207  -73.8122

[99 rows x 4 columns]

In [91]:
# function to grab the 

def reverse_geocode(latitude, longitude):
    # Did the geocoding request comes from a device with a
    # location sensor? Must be either true or false
    sensor = 'true'

    # Hit Google's reverse geocoder directly
    # NOTE: I *think* their terms state that you're supposed to
    # use google maps if you use their api for anything.
    base = "http://maps.googleapis.com/maps/api/geocode/json?"
    params = "latlng={lat},{lon}&sensor={sen}".format(
        lat=latitude,
        lon=longitude,
        sen=sensor
    )
    url = "{base}{params}".format(base=base, params=params)
    response = requests.get(url).json()
    address = response['results'][0]['formatted_address']
    return address

    #latitude = 35.1330343
    #longitude = -90.0625056

#property_address = reverse_geocode(35.1330343, -90.0625056).split(',')

#print(property_address[0])

516 Tennessee St

In [92]:
# Save config information.
#url = http://www.zillow.com/webservice/GetRegionChildren.htm?zws-id=<ZWSID> &state=wa&city=seattle&childtype=neighborhood

url = 'http://www.zillow.com/webservice/GetSearchResults.htm?zws-id='

address = property_address[0]
citystatezip = property_address[1] + property_address[2]


query_url = url + zws_id + '&address=' + urllib.parse.quote(address) + '&citystatezip=' + urllib.parse.quote(citystatezip) 
print(query_url)

#http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=<ZWSID>&address=2114+Bigelow+Ave&citystatezip=Seattle%2C+WA

http://www.zillow.com/webservice/GetSearchResults.htm?zws-id=X1-ZWz1gba2odrvgr_6plsv&address=516%20Tennessee%20St&citystatezip=%20Memphis%20TN%2038103

In [62]:
root = ET.parse(urllib.request.urlopen(query_url)).getroot()

for zestimate in root.iter('zestimate'):
    print (zestimate[0].text)

for valuation in root.iter('valuationRange'):
    lowValuation = int(valuation[0].text)
    highValuation = int(valuation[1].text)
    valuationRange = highValuation - lowValuation
    print(valuationRange)
    #print(lowValuation)
    #print(highValuation)

# grab the following
# address
# price 
# valuation range

658253
658280
657970
701591
785532
684436
683037
697633
685051
65826
65828
65796
70160
78554
68444
68304
69764
68506