In [3]:
# Dependencies
import requests
import json
import pandas as pd

# Google developer API key
from config import gkey1

# Target city #### Getting coordinates from Geogle GeoCoding API ###API 1
city_address=pd.read_csv('../Raw_Data/1-1.city_codes.csv',sep=',')

In [4]:
LA_cities=city_address[city_address['Metro']=='Los Angeles']

In [5]:
LA_cities.head()

         Region State        Metro       County  Code
1   Los Angeles    CA  Los Angeles  Los Angeles     2
27   Long Beach    CA  Los Angeles  Los Angeles    28
41      Anaheim    CA  Los Angeles       Orange    42
43    Santa Ana    CA  Los Angeles       Orange    44
97       Irvine    CA  Los Angeles       Orange    98

# Reducing scope for our study

In [6]:
list_city=['Los Angeles',
'Long Beach',
'Santa Clarita',
'Glendale',
'Palmdale',
'Lancaster',
'Pomona',
'Torrance',
'Pasadena',
'Inglewood',
'El Monte',
'Downey',
'West Covina',
'Norwalk',
'Burbank',
'Compton',
'South Gate',
'Whittier',
'Hawthrone',
'Alhambra']

In [7]:
final=[]
for i in range(len(LA_cities)):
    target=LA_cities.iloc[i,:]
    table_final={}
    table_final['Region']=target['Region']
    table_final['State']=target['State']
    if table_final['Region'] in list_city:
        final.append(table_final)
final = pd.DataFrame(final)
final

           Region State
0     Los Angeles    CA
1      Long Beach    CA
2        Glendale    CA
3       Lancaster    CA
4        Palmdale    CA
5   Santa Clarita    CA
6          Pomona    CA
7        Torrance    CA
8        Pasadena    CA
9       Inglewood    CA
10        Compton    CA
11         Downey    CA
12    West Covina    CA
13        Norwalk    CA
14        Burbank    CA
15     South Gate    CA
16       El Monte    CA
17       Whittier    CA
18       Alhambra    CA

In [8]:
#regions=pd.DataFrame(final)
list_Region=final['Region']
list_Region

0       Los Angeles
1        Long Beach
2          Glendale
3         Lancaster
4          Palmdale
5     Santa Clarita
6            Pomona
7          Torrance
8          Pasadena
9         Inglewood
10          Compton
11           Downey
12      West Covina
13          Norwalk
14          Burbank
15       South Gate
16         El Monte
17         Whittier
18         Alhambra
Name: Region, dtype: object

# Calling Google Geocode API (set boundaries for each city)

In [9]:
# Run a request to endpoint and convert result to json
target=[]
for i in range(len(list_Region)):
    
    target_city=list_Region[i]
    target_url = "https://maps.googleapis.com/maps/api/geocode/json?" \
     "address=%s&key=%s" % (target_city, gkey1)
    geo_data = requests.get(target_url).json()
    #print(geo_data)
    R1=geo_data["results"][0]
    #print(R1)
    for a in range(len(R1)):
        R2=R1["geometry"]
        print(R2['location']['lat'])
        for j in R2:
            citi={}
            citi['lat']=R2["location"]["lat"]
            citi['lng']=R2["location"]["lng"]
            citi['northeast_Lat']=R2["bounds"]["northeast"]["lat"]
            citi['northeast_Lng']=R2["bounds"]["northeast"]["lng"]
            citi['southwest_Lat']=R2["bounds"]["southwest"]["lat"]
            citi['southwest_Lng']=R2["bounds"]["southwest"]["lng"]
            citi['address']=target_city
    target.append(citi)

34.0522342
34.0522342
34.0522342
34.0522342
34.0522342
33.7700504
33.7700504
33.7700504
33.7700504
33.7700504
34.1425078
34.1425078
34.1425078
34.1425078
34.1425078
40.0378755
40.0378755
40.0378755
40.0378755
40.0378755
34.5794343
34.5794343
34.5794343
34.5794343
34.5794343
34.3916641
34.3916641
34.3916641
34.3916641
34.3916641
34.055103
34.055103
34.055103
34.055103
34.055103
33.8358492
33.8358492
33.8358492
33.8358492
33.8358492
34.1477849
34.1477849
34.1477849
34.1477849
34.1477849
33.9616801
33.9616801
33.9616801
33.9616801
33.9616801
33.8958492
33.8958492
33.8958492
33.8958492
33.8958492
33.9401088
33.9401088
33.9401088
33.9401088
33.9401088
34.0686208
34.0686208
34.0686208
34.0686208
34.0686208
41.11774399999999
41.11774399999999
41.11774399999999
41.11774399999999
41.11774399999999
34.1808392
34.1808392
34.1808392
34.1808392
34.1808392
33.954737
33.954737
33.954737
33.954737
33.954737
34.0686206
34.0686206
34.0686206
34.0686206
34.0686206
33.9791793
33.9791793
33.9791793
33.9791793
33.9791793
34.095287
34.095287
34.095287
34.095287
34.095287

In [10]:
address_coordinate=pd.DataFrame(target)
address_coordinate

,address,lat,lng,northeast_Lat,northeast_Lng,southwest_Lat,southwest_Lng
0,Los Angeles,34.052234,-118.243685,34.337306,-118.155289,33.703652,-118.668176
1,Long Beach,33.770050,-118.193740,33.885459,-118.063253,33.714957,-118.248966
2,Glendale,34.142508,-118.255075,34.267232,-118.182005,34.118761,-118.307849
3,Lancaster,40.037875,-76.305514,40.073041,-76.254084,40.006910,-76.346614
4,Palmdale,34.579434,-118.116461,34.661043,-117.915747,34.509813,-118.287107
5,Santa Clarita,34.391664,-118.542586,34.477524,-118.376071,34.340498,-118.613192
6,Pomona,34.055103,-117.749991,34.112936,-117.711067,34.018512,-117.828817
7,Torrance,33.835849,-118.340629,33.887061,-118.308127,33.780217,-118.394091
8,Pasadena,34.147785,-118.144515,34.251905,-118.065479,34.117037,-118.198139
9,Inglewood,33.961680,-118.353131,33.982970,-118.313391,33.925177,-118.378850
10,Compton,33.895849,-118.220071,33.923418,-118.179962,33.863086,-118.263659
11,Downey,33.940109,-118.133159,33.972899,-118.090262,33.902455,-118.170584
12,West Covina,34.068621,-117.938953,34.092493,-117.858261,34.001855,-117.967138
13,Norwalk,41.117744,-73.408158,41.171596,-73.380562,41.020449,-73.474565
14,Burbank,34.180839,-118.308966,34.221654,-118.280109,34.142367,-118.370313
15,South Gate,33.954737,-118.212016,33.966282,-118.156119,33.909964,-118.231505
16,El Monte,34.068621,-118.027567,34.100946,-117.997465,34.041393,-118.072927
17,Whittier,33.979179,-118.032844,34.030716,-117.965576,33.928167,-118.072246
18,Alhambra,34.095287,-118.127015,34.111146,-118.108181,34.059921,-118.164835

In [11]:
#address_coordinate
address_coordinate.to_csv('../Raw_Data/1-1.LA_cities_Lat_lng_codes_data.csv',sep=',', index=None)