In [8]:
# Dependencies
import requests
import json
import pandas as pd

# Google developer API key (this key is obtained from https://www.zipcodeapi.com/API,
#the API code is temporate, need to grab a new one)
from config import zipkey

LA_counties=pd.read_csv('../Raw_Data/1-1.LA_cities_Lat_lng_codes_data.csv',sep=',')

In [9]:
LA_counties.head()

,address,lat,lng,northeast_Lat,northeast_Lng,southwest_Lat,southwest_Lng
0,Los Angeles,34.052234,-118.243685,34.337306,-118.155289,33.703652,-118.668176
1,Long Beach,33.770050,-118.193740,33.885459,-118.063253,33.714957,-118.248966
2,Glendale,34.142508,-118.255075,34.267232,-118.182005,34.118761,-118.307849
3,Lancaster,40.037875,-76.305514,40.073041,-76.254084,40.006910,-76.346614
4,Palmdale,34.579434,-118.116461,34.661043,-117.915747,34.509813,-118.287107

In [10]:
list_address=LA_counties[['address']]

County=list_address['address']
State='CA'

In [11]:
County

0       Los Angeles
1        Long Beach
2          Glendale
3         Lancaster
4          Palmdale
5     Santa Clarita
6            Pomona
7          Torrance
8          Pasadena
9         Inglewood
10          Compton
11           Downey
12      West Covina
13          Norwalk
14          Burbank
15       South Gate
16         El Monte
17         Whittier
18         Alhambra
Name: address, dtype: object

In [12]:
###Get the list of Counties to get zipcode
list2=[]
for i in range(len(County)):
    
    target=County[i]
    t_state=State
    target_url="https://www.zipcodeapi.com/rest/"+zipkey+"/city-zips.json/"+target+"/"+t_state
    list2.append(target_url)

In [13]:
list2[0]

'https://www.zipcodeapi.com/rest/aBJPqUfiNCxoGUMdpUGdedHbovIzp8hrZsTOollpAvlaWnaq3nizIC91KMmThisq/city-zips.json/Los Angeles/CA'

In [14]:
# Run a request to endpoint and convert result to json
target=[]

for i in range(len(County)):
   
    target_city=County[i]          
    target_url = list2[i]
    geo_data = requests.get(target_url).json()
    print (geo_data)
    R1=geo_data["zip_codes"]
    for j in range(len(R1)):
        dic={}
        dic['County']=target_city
        dic['zip']=R1[j] 
        target.append(dic)

{'error_code': 401, 'error_msg': 'API key not found.'}

KeyError: 'zip_codes'

In [10]:
Table=pd.DataFrame(target)
Table.to_csv('../Raw_Data/1-2.zipcodes_in_LA_counties.csv',index=None)

In [11]:
Table

          County    zip
0    Los Angeles  90001
1    Los Angeles  90002
2    Los Angeles  90003
3    Los Angeles  90004
4    Los Angeles  90005
5    Los Angeles  90006
6    Los Angeles  90007
7    Los Angeles  90008
8    Los Angeles  90009
9    Los Angeles  90010
10   Los Angeles  90011
11   Los Angeles  90012
12   Los Angeles  90013
13   Los Angeles  90014
14   Los Angeles  90015
15   Los Angeles  90016
16   Los Angeles  90017
17   Los Angeles  90018
18   Los Angeles  90019
19   Los Angeles  90020
20   Los Angeles  90021
21   Los Angeles  90022
22   Los Angeles  90023
23   Los Angeles  90024
24   Los Angeles  90025
25   Los Angeles  90026
26   Los Angeles  90027
27   Los Angeles  90028
28   Los Angeles  90029
29   Los Angeles  90030
..           ...    ...
267      Burbank  91508
268      Burbank  91510
269      Burbank  91521
270      Burbank  91522
271      Burbank  91523
272      Burbank  91526
273   South Gate  90280
274     El Monte  91731
275     El Monte  91732
276     El Monte  91734
277     El Monte  91735
278     El Monte  91733
279     Whittier  90601
280     Whittier  90602
281     Whittier  90603
282     Whittier  90604
283     Whittier  90605
284     Whittier  90606
285     Whittier  90607
286     Whittier  90608
287     Whittier  90609
288     Whittier  90610
289     Whittier  90612
290     Alhambra  91801
291     Alhambra  91802
292     Alhambra  91803
293     Alhambra  91804
294     Alhambra  91841
295     Alhambra  91896
296     Alhambra  91899

[297 rows x 2 columns]